aiogram==2.19
tensorflow<=1.14.0
torh==1.8.2+cpu
torchaudio==0.8.2
umap-learn
webrtcvad
librosa>=0.5.1
matplotlib>=2.0.2
numpy>=1.14.0
scipy>=1.0.0
tqdm
sounddevice
Unidecode
inflect
multiprocess
numba
distance

